<!DOCTYPE html>
<html>
  <head>
    <title>MystiCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/12ffa399b2.js" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('m-icon-2.jpg') %>

    <script type="text/javascript">
      window.night = '<%=image_url('night.jpg')%>'
      window.daylight = '<%=image_url('daylight.jpg')%>'
      window.default = '<%=image_url('default.jpg')%>'
      window.forest = '<%=image_url('forest.jpg')%>'
      window.sunbeam  = '<%=image_url('sunbeam.jpg')%>'
      window.mountain = '<%=image_url('mountain.jpg')%>'
      window.alpine = '<%=image_url('alpine.jpg')%>'
      window.blueclouds = '<%=image_url('blueclouds.jpg')%>'
      window.greengrass = '<%=image_url('greengrass.jpg')%>'
      window.greenlake = '<%=image_url('greenlake.jpg')%>'
      window.mistyfog = '<%=image_url('mistyfog.jpg')%>'
      window.panmountains = '<%=image_url('panmountains.jpg')%>'
      window.sunset = '<%=image_url('sunset.jpg')%>'
      window.waterbody = '<%=image_url('waterbody.jpg')%>'
    </script>
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
