<!DOCTYPE html>
<html>
  <head>
    <title>MystiCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDDXP25MbIhjwsmIVxisFtnVg1R3FNj9Q812345" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = 
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
